Cleaning

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

In [15]:
annual_aqi = pd.read_csv('annual_aqi_by_county_2022.csv')
print(annual_aqi.shape)
annual_aqi.head()

(1003, 18)

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,Baldwin,2022,281,237,44,0,0,0,0,97,52,39,0,0,201,80,0
1,Alabama,Clay,2022,115,91,24,0,0,0,0,68,56,34,0,0,0,115,0
2,Alabama,DeKalb,2022,364,323,41,0,0,0,0,97,52,38,0,0,305,59,0
3,Alabama,Elmore,2022,240,232,8,0,0,0,0,74,44,33,0,0,240,0,0
4,Alabama,Etowah,2022,359,224,135,0,0,0,0,93,60,46,0,0,93,266,0

In [16]:
annual_aqi.columns

Index(['State', 'County', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days PM2.5', 'Days PM10'],
      dtype='object')

In [17]:
annual_aqi.isna()
annual_aqi.isna().sum()

State                                  0
County                                 0
Year                                   0
Days with AQI                          0
Good Days                              0
Moderate Days                          0
Unhealthy for Sensitive Groups Days    0
Unhealthy Days                         0
Very Unhealthy Days                    0
Hazardous Days                         0
Max AQI                                0
90th Percentile AQI                    0
Median AQI                             0
Days CO                                0
Days NO2                               0
Days Ozone                             0
Days PM2.5                             0
Days PM10                              0
dtype: int64

In [18]:
annual_aqi.duplicated().sum()

np.int64(0)

In [19]:
annual_aqi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003 entries, 0 to 1002
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State                                1003 non-null   object
 1   County                               1003 non-null   object
 2   Year                                 1003 non-null   int64
 3   Days with AQI                        1003 non-null   int64
 4   Good Days                            1003 non-null   int64
 5   Moderate Days                        1003 non-null   int64
 6   Unhealthy for Sensitive Groups Days  1003 non-null   int64
 7   Unhealthy Days                       1003 non-null   int64
 8   Very Unhealthy Days                  1003 non-null   int64
 9   Hazardous Days                       1003 non-null   int64
 10  Max AQI                              1003 non-null   int64
 11  90th Percentile AQI                  1003 non-null   int64
 12  Median AQI                           1003 non-null   int64
 13  Days CO                              1003 non-null   int64
 14  Days NO2                             1003 non-null   int64
 15  Days Ozone                           1003 non-null   int64
 16  Days PM2.5                           1003 non-null   int64
 17  Days PM10                            1003 non-null   int64
dtypes: int64(16), object(2)
memory usage: 141.2+ KB

In [20]:
print(annual_aqi.describe())

         Year  Days with AQI    Good Days  Moderate Days  \
count  1003.0    1003.000000  1003.000000    1003.000000
mean   2022.0     323.448654   237.733799      82.393819
std       0.0      75.024308    72.542643      63.564397
min    2022.0      26.000000    17.000000       0.000000
25%    2022.0     329.000000   202.000000      25.000000
50%    2022.0     362.000000   238.000000      71.000000
75%    2022.0     365.000000   291.500000     128.000000
max    2022.0     365.000000   364.000000     297.000000

       Unhealthy for Sensitive Groups Days  Unhealthy Days  \
count                          1003.000000     1003.000000
mean                              2.621137        0.549352
std                               8.088337        2.811139
min                               0.000000        0.000000
25%                               0.000000        0.000000
50%                               0.000000        0.000000
75%                               2.000000        0.000000
max                             109.000000       56.000000

       Very Unhealthy Days  Hazardous Days      Max AQI  90th Percentile AQI  \
count          1003.000000     1003.000000  1003.000000          1003.000000
mean              0.081755        0.068794   127.716849            58.205384
std               0.548356        0.709399   277.898630            14.366312
min               0.000000        0.000000    23.000000             7.000000
25%               0.000000        0.000000    85.000000            50.500000
50%               0.000000        0.000000   101.000000            57.000000
75%               0.000000        0.000000   127.000000            64.000000
max               9.000000       15.000000  8368.000000           166.000000

        Median AQI      Days CO     Days NO2   Days Ozone   Days PM2.5  \
count  1003.000000  1003.000000  1003.000000  1003.000000  1003.000000
mean     39.355932     0.352941     3.978066   156.996012   152.005982
std      10.139345     5.952830    27.179809   115.948471   122.415110
min       2.000000     0.000000     0.000000     0.000000     0.000000
25%      36.000000     0.000000     0.000000    67.000000     9.000000
50%      40.000000     0.000000     0.000000   152.000000   152.000000
75%      45.000000     0.000000     0.000000   243.000000   250.000000
max      80.000000   137.000000   363.000000   365.000000   365.000000

         Days PM10
count  1003.000000
mean     10.115653
std      44.486273
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max     365.000000

In [21]:
annual_aqi.sort_values('State')

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,Baldwin,2022,281,237,44,0,0,0,0,97,52,39,0,0,201,80,0
14,Alabama,Tuscaloosa,2022,280,240,40,0,0,0,0,87,54,37,0,0,195,85,0
13,Alabama,Sumter,2022,355,266,89,0,0,0,0,81,56,38,0,0,72,283,0
12,Alabama,Shelby,2022,245,225,19,1,0,0,0,105,50,37,0,0,245,0,0
11,Alabama,Russell,2022,364,208,156,0,0,0,0,97,61,46,0,0,69,295,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,Wyoming,Campbell,2022,365,210,146,7,1,0,1,584,74,48,0,0,131,38,196
985,Wyoming,Albany,2022,365,225,136,2,2,0,0,159,67,48,0,16,275,5,69
1001,Wyoming,Uinta,2022,365,363,2,0,0,0,0,55,17,7,0,0,0,0,365
992,Wyoming,Laramie,2022,363,297,66,0,0,0,0,90,58,42,1,1,313,46,2
1002,Wyoming,Weston,2022,363,344,19,0,0,0,0,64,48,40,0,0,363,0,0

In [22]:
print(annual_aqi['Days PM2.5'].value_counts())
print(annual_aqi['Days PM10'].value_counts())

Days PM2.5
0      238
365     26
359     11
121      9
259      7
      ...
103      1
64       1
80       1
244      1
182      1
Name: count, Length: 297, dtype: int64
Days PM10
0      800
1       28
2       18
3       13
4       10
      ...
69       1
66       1
355      1
49       1
365      1
Name: count, Length: 80, dtype: int64

In [23]:
annual_aqi.groupby('State')['Days PM2.5'].sum()

State
Alabama                 2624
Alaska                  1429
Arizona                  729
Arkansas                1452
California              8313
Colorado                1193
Connecticut              798
Country Of Mexico        404
Delaware                 527
District Of Columbia     226
Florida                 6767
Georgia                 5731
Hawaii                   987
Idaho                   5649
Illinois                4067
Indiana                 4369
Iowa                    3101
Kansas                  1516
Kentucky                3520
Louisiana               3368
Maine                    903
Maryland                1752
Massachusetts           2030
Michigan                3580
Minnesota               3819
Mississippi             2006
Missouri                2198
Montana                 3911
Nebraska                1872
Nevada                   731
New Hampshire            620
New Jersey              2535
New Mexico              1311
New York                3485
North Carolina          4677
North Dakota            1400
Ohio                    4970
Oklahoma                2881
Oregon                  6699
Pennsylvania            7518
Puerto Rico              948
Rhode Island             496
South Carolina          2221
South Dakota            1238
Tennessee               4643
Texas                   7395
Utah                    1092
Vermont                  575
Virgin Islands           146
Virginia                2681
Washington              9059
West Virginia           1407
Wisconsin               4164
Wyoming                  729
Name: Days PM2.5, dtype: int64

Focusing on data from Kentucky

In [24]:
#Boolean indexing(?) to drop other states and focus on Kentucky
ky_aqi = annual_aqi['State'] == 'Kentucky'
ky_aqi

0       False
1       False
2       False
3       False
4       False
        ...
998     False
999     False
1000    False
1001    False
1002    False
Name: State, Length: 1003, dtype: bool

In [ ]:
#Drop false values from the prior boolean indexing
ky_aqi = ky_aqi.drop(annual_aqi[ky_aqi == False].index)
ky_aqi
#Shows that KY has 26 counties with AQI data in 2022, rows 317 to 342

317    True
318    True
319    True
320    True
321    True
322    True
323    True
324    True
325    True
326    True
327    True
328    True
329    True
330    True
331    True
332    True
333    True
334    True
335    True
336    True
337    True
338    True
339    True
340    True
341    True
342    True
Name: State, dtype: bool

In [ ]:
#Get that back into a dataframe